<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.DeleteMapper">

    <delete id="deleteStudent" parameterType="student">
        DELETE FROM students WHERE studentid=#{studentId}
    </delete>

    <delete id="deleteTeacher" parameterType="teacher">
        DELETE FROM teachers WHERE teacherid=#{teacherId}
    </delete>
</mapper>