<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.ViewMapper">

    <select id="getTeacherById" resultType="teacher">
        SELECT * FROM teachers WHERE teacherid=#{value}
    </select>
    <select id="getAllTeacher" resultType="teacher">
        SELECT * FROM teachers
    </select>
    <select id="getAllStudent" resultType="student">
        SELECT * FROM students
    </select>
    <select id="getStudentById" resultType="student">
        SELECT * FROM students WHERE studentid=#{value}
    </select>

    <select id="getClazzById" resultType="clazz">
        SELECT * FROM classes WHERE classid=#{classId}
    </select>
    <select id="getSchoolById" resultType="school">
        SELECT * FROM schools WHERE schoolid=#{schoolId}
    </select>

</mapper>